
.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1161px;
}

.u-section-1 .u-shape-1 {
  width: 1120px;
  height: 990px;
  margin: 94px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 569px;
  height: 569px;
  background-image: url("images/g7fa56882d0f59d85b26e47d0b67509efdad3bfd1ba98fe18e780ff48a57fa180f932b5e48d51e3030a93d922ae9d1e5cb65cb8eec7d0ec5271e88452b7a48980_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -1010px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 552px;
  min-height: 532px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -262px auto 60px 148px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}


.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-size: 6rem;
  margin: 130px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 43px auto 0 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -233px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -33px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.u-section-2 {
  background-image: none;
  min-height: 500px;
}

.u-section-2 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 427px);
  min-height: 98px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 57px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}


.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 25px 60px 0 89px;
}

.u-section-2 .u-image-1 {
  width: 81px;
  height: 81px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/logo_blue.png");
  background-position: 50% 50%;
  margin: -138px auto 0 calc(((100% - 1140px) / 2) + 387px);
}
/*
.u-section-2 .u-layout-wrap-1 {
  margin-top: 95px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 526px;
}

.u-section-2 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 8px 478px 0 25px;
}

.u-section-2 .u-text-4 {
  margin: 9px auto 0 25px;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0 25px;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 25px;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0 25px;
}

.u-section-2 .u-text-8 {
  margin: 17px auto 0 28px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 526px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 17px auto 0 8px;
}

.u-section-2 .u-image-2 {
  width: 346px;
  height: 346px;
  margin: 25px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -1px auto 0 calc(((100% - 1140px) / 2) + 23px);
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -46px auto 49px calc(((100% - 1140px) / 2) + 203px);
  padding: 10px 43px 10px 42px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 727px;
  }

  .u-section-2 .u-group-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    width: calc(((100% - 940px) / 2) + 427px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 387px);
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-2 .u-text-2 {
    font-weight: 700;
    text-transform: uppercase;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 403px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2) + 3px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 417px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 427px);
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 387px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 293px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 300px;
    height: 300px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 517px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 427px);
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 387px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-text-1 {
    margin-right: 17px;
    margin-left: 46px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2) + 259px);
  }

  .u-section-2 .u-text-3 {
    margin-right: 93px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }
}

*/
@media (max-width: 991px) {
  .u-section-3 {
    min-height: 300px;
  }
}
/*
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 207px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 579px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 27px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1000px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1041px;
  }} */
   .u-section-4 {
     min-height: 256px;


  }
  
  .u-section-4 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 518px);
    min-height: 73px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    margin: 34px auto 0 0;

  }
  
  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;

  }
  
  .u-section-4 .u-text-1 {
    font-weight: 400;
    font-size: 1.875rem;
    width: 278px;
    margin: 19px auto 0;

  }
  
  .u-section-4 .u-image-1 {
    width: 81px;
    height: 81px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    background-image: url("images/logo_blue-14.png");
    background-position: 50% 50%;
    margin: -113px auto 0 calc(((100% - 1140px) / 2) + 478px);
  }
  
  .u-section-4 .u-group-2 {
    width: 568px;
    min-height: 74px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    margin: 74px 0 34px auto;

  }
  
  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-4 .u-text-2 {
    font-weight: 400;
    font-size: 1.875rem;
    width: 333px;
    margin: 0 auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-group-1 {
      width: calc(((100% - 940px) / 2) + 518px);
    }
  
    .u-section-4 .u-image-1 {
      margin-left: calc(((100% - 940px) / 2) + 478px);
    }
  
    .u-section-4 .u-group-2 {
      width: calc(((100% - 940px) / 2) + 518px);
      margin-top: 66px;
      margin-right: calc(((100% - 940px) / 2) + -41px);
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-group-1 {
      width: calc(((100% - 720px) / 2) + 518px);
    }
  
    .u-section-4 .u-image-1 {
      margin-left: calc(((100% - 720px) / 2) + 478px);
    }
  
    .u-section-4 .u-group-2 {
      width: calc(((100% - 720px) / 2) + 518px);
      margin-right: calc(((100% - 720px) / 2) + -41px);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-group-1 {
      width: calc(((100% - 540px) / 2) + 518px);
    }
  
    .u-section-4 .u-image-1 {
      margin-left: calc(((100% - 540px) / 2) + 459px);
    }
  
    .u-section-4 .u-group-2 {
      width: calc(((100% - 540px) / 2) + 518px);
      margin-right: calc(((100% - 540px) / 2) + -41px);
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-group-1 {
      width: calc(((100% - 340px) / 2) + 340px);
    }
  
    .u-section-4 .u-image-1 {
      margin-left: calc(((100% - 340px) / 2) + 259px);
    }
  
    .u-section-4 .u-group-2 {
      width: calc(((100% - 340px) / 2) + 340px);
      margin-right: 0;
    }
  } 
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: black;
    color: rgb(16, 107, 218);
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 80%;
  }
  .u-section-5 {
    background-image: linear-gradient(45deg, #f3f5f8, #f3fafe);


  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 413px;
  }
  
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .u-section-5 .u-layout-cell-1 {
    min-height: 254px;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding: 30px 24px;
  }
  
  .u-section-5 .u-text-1 {
    margin: 0 6px;
  }
  
  .u-section-5 .u-btn-1 {
    font-weight: 700;
    background-image: none;
    border-style: solid;
    margin: 19px auto 0;
    padding: 9px 33px 11px;
  }
  
  .u-section-5 .u-layout-cell-2 {
    min-height: 254px;
  }
  
  .u-section-5 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-5 .u-text-2 {
    margin: 0;
  }
  
  .u-section-5 .u-btn-2 {
    font-weight: 700;
    background-image: none;
    border-style: solid;
    margin: 19px auto 0;
    padding: 9px 33px 10px;
  }
  
  .u-section-5 .u-layout-cell-3 {
    min-height: 254px;
  }
  
  .u-section-5 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-5 .u-text-3 {
    margin: 0;
  }
  
  .u-section-5 .u-btn-3 {
    font-weight: 700;
    background-image: none;
    border-style: solid;
    margin: 20px auto 0;
    padding: 10px 60px 10px 58px;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
      min-height: 509px;
    }
  
    .u-section-5 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-5 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-5 .u-btn-1 {
      padding-right: 41px;
      padding-left: 41px;
    }
  
    .u-section-5 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-5 .u-btn-2 {
      padding-right: 41px;
      padding-left: 41px;
    }
  
    .u-section-5 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-5 .u-btn-3 {
      padding-right: 41px;
      padding-left: 41px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
      min-height: 262px;
    }
  
    .u-section-5 .u-btn-1 {
      padding-right: 106px;
      padding-left: 104px;
    }
  
    .u-section-5 .u-btn-2 {
      margin-right: 0;
      padding-right: 106px;
      padding-left: 104px;
    }
  
    .u-section-5 .u-btn-3 {
      margin-left: 0;
      margin-right: 0;
      padding-right: 106px;
      padding-left: 104px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
      min-height: 362px;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-btn-1 {
      padding-left: 124px;
      padding-right: 124px;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-btn-2 {
      margin-right: auto;
      padding-left: 124px;
      padding-right: 124px;
    }
  
    .u-section-5 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-btn-3 {
      margin-left: auto;
      margin-right: auto;
      padding-left: 124px;
      padding-right: 124px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-btn-1 {
      padding-left: 117px;
      padding-right: 117px;
    }
  
    .u-section-5 .u-btn-2 {
      padding-left: 117px;
      padding-right: 117px;
    }
  
    .u-section-5 .u-btn-3 {
      padding-left: 117px;
      padding-right: 117px;
    }
  }

  .u-section-6 .u-sheet-1 {
    min-height: 282px;
  }
  
  .u-section-6 .u-group-1 {
    width: 800px;
    min-height: 196px;
    margin: 43px auto;
  }
  
  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .u-section-6 .u-text-1 {
    margin: 26px auto 0 10px;
  }
  
  .u-section-6 .u-text-2 {
    margin: 10px 5px 0;
  }
  
  .u-section-6 .u-btn-1 {
    background-image: none;
    border-style: none none solid;
    margin: 0 auto 0 5px;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-6 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-6 .u-group-1 {
      width: 720px;
    }
  
    .u-section-6 .u-text-1 {
      margin-left: 0;
    }
  
    .u-section-6 .u-text-2 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-6 .u-btn-1 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-6 .u-group-1 {
      width: 540px;
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-6 .u-sheet-1 {
      min-height: 0px;
    }
  
    .u-section-6 .u-group-1 {
      width: 340px;
      margin-top: -13px;
      margin-bottom: -13px;
    }
  } .u-section-7 {
    background-image: none;

  }
  
  .u-section-7 .u-sheet-1 {
    min-height: 0px;
  }
  
  .u-section-7 .u-text-1 {
    font-size: 3rem;
    margin: 36px 668px 0 0;
  }
  
  .u-section-7 .u-btn-1 {
    border-style: solid;
    background-image: none;
    font-weight: 700;
    margin: 50px auto 60px 50px;
  }
  
  @media (max-width: 1199px) {
    .u-section-7 .u-text-1 {
      margin-right: 468px;
    }
  
    .u-section-7 .u-btn-1 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-7 .u-text-1 {
      margin-right: 248px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-7 .u-text-1 {
      margin-right: 68px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-7 .u-text-1 {
      margin-right: 0;
    }
  }
.animation{
  position: relative;
  top: 0px;
  height:400px;

}

h1{

  color: black;
  /*font-family: 'Open Sans', sans-serif;*/
  white-space: normal;
  font-size: xx-large;
  position: relative;

  left: 50px;
}

.tree{
  position: relative;

  left:20px
}
.people{
  position: relative;
  left:20px;

}
.house{
  position: relative;

  left:50px
}
.title1{
  font-size: x-large;
  /*font-family: 'Open Sans', sans-serif;*/
  color: black;
  position: relative;
  left: 0px;
  bottom: 380px;

}
.title2{
  font-size: x-large;
  /*font-family: 'Open Sans', sans-serif;*/
  color: black;
  position: relative;
  left: 80px;
  bottom: 260px;

}
.title3{
  font-size: x-large;
  /*font-family: 'Open Sans', sans-serif;*/
  color: black;
  position: relative;
  left: 200px;
  bottom: 220px;

}
.title32{
  font-size: x-large;
  /*font-family: 'Open Sans', sans-serif;*/
  color: black;
  position: relative;
  left: 130px;
  bottom: 220px;

}

.area{
  font-size:xxx-large;
  /* font-family: 'Roboto Serif', serif;*/
  color: blue;
  position: relative;
  left: -90px;
  bottom: 400px;

}
.time{
  font-size:xxx-large;
  /*font-family: 'Roboto Serif', serif;*/
  color:blue;
  position: relative;
  left: 10px;
  bottom: 270px;

}
.electri{
  font-size:xxx-large;
  /*font-family: 'Roboto Serif', serif;*/
  color: blue;
  position: relative;
  left: 250px;
  bottom: 270px;

}
.discription1{
  font-size:x-large;
  /*font-family: 'Open Sans', sans-serif;*/
  color: deepskyblue;
  position: relative;
  left: 50px;
  bottom: 450px;

}
.discription2{
  font-size:x-large;
  /*font-family: 'Open Sans', sans-serif;*/
  color:deepskyblue;
  position: relative;
  left: 160px;
  bottom: 320px;

}
.discription3{
  font-size:x-large;
  /*font-family: 'Open Sans', sans-serif;*/
  color: deepskyblue;
  position: relative;
  left: 300px;
  bottom: 320px;

}
#tree{
  position: relative;
  left: 60px;

}
#life{
  position: relative;
  left: 100px;
  bottom:-100px;

}
#household{
  position: relative;
  left: 180px;
  bottom:-120px;

}